.editTaskWrapper{
    
}
.item{
    cursor: pointer;
    background-color:  transparent;
    transition: linear 300ms;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkblue;
}
.itemActive{
    cursor: pointer;
    background-color:  transparent;
    transition: linear 300ms;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed red;
}
.item:hover{
    transition: linear 300ms;
    background-color: darkcyan;
}
.textIsDone{
    text-decoration: line-through;
}

.borderOn{
    border: 1px solid firebrick;
}
.borderOff{
    border: 1px solid transparent;
}