.item{
    min-height: 70px;
    cursor: pointer;
    background-color:  transparent;
    transition: linear 300ms;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkblue;
}
.item:hover{
    transition: linear 300ms;
    background-color: darkcyan;
}
.textIsDone{
    text-decoration: line-through;
}

.borderOn{
    border: 1px solid firebrick;
}
.borderOff{
    border: 1px solid transparent;
}
.editor{

}
.el p{
    margin: 0;
}